*.log
**/document.pdf
**/document.out
**/document.aux
./.idea

### TeX ###
## Core latex/pdflatex auxiliary files:
/dokumentation/document.aux
/dokumentation/*.lof
*.log
/dokumentation/*.lot
/dokumentation/.synctex.gz

*.fls
*.out
/dokumentation/*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb

# beamer
*.nav
*.pre
*.snm
*.vrb


.idea/*
